@import 'tailwindcss';
@use './theme.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&family=Nunito:wght@500&family=Urbanist:wght@700;800&display=swap');

html, body {
  padding: 0;
  margin: 0;
  background: $color-bg;
  color: $color-white;
  font-family: $font-figtree;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
} 