@import "tailwindcss";
// Color variables
:root {
  --color-primary: #FC004E;
  --color-secondary: #10CBE0;
  --color-accent: #00E7F9;
  --color-white: #fff;
  --color-gray: #777;
  --color-light-gray: #ABABAB;
  --color-bg: #010101;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-white);
  font-family: var(--font-figtree), 'Figtree', sans-serif;
}

.top-header-sale, .top-header-extra {
 
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.top-header-sale {
  font-weight: 800;
  color: var(--color-accent);
}

.top-header-extra {
  font-weight: 600;
  color: inherit;
}
